<html>
    <head>
        <title>Feedback Done</title>
    </head>
    <body>
        <h1>We got your feedback!</h1>
        <pre>{{ form_data|pprint }}</pre>
		<p>DescripcionA: {{Descripcion_A}}</p>
		<p>DescripcionB: {{Descripcion_B}}</p>
		<p>DescripcionC: {{Descripcion_C}}</p>
		<p>DescripcionD: {{Descripcion_D}}</p>
		<p>DescripcionE: {{Descripcion_E}}</p>
		<p>DescripcionF: {{Descripcion_F}}</p>
		<p>DescripcionG: {{Descripcion_G}}</p>
		<p>DescripcionH: {{Descripcion_H}}</p>
		<p>DescripcionI: {{Descripcion_I}}</p>
		<p>DescripcionJ: {{Descripcion_J}}</p>
		<p>FechaA: {{Fecha_A}}</p>
		<p>FechaB: {{Fecha_B}}</p>
		<p>FechaC: {{Fecha_C}}</p>
		<p>FechaD: {{Fecha_D}}</p>
		<p>FechaE: {{Fecha_E}}</p>
		<p>FechaF: {{Fecha_F}}</p>
		<p>FechaG: {{Fecha_G}}</p>
		<p>FechaH: {{Fecha_H}}</p>
		<p>FechaI: {{Fecha_I}}</p>
		<p>FechaJ: {{Fecha_J}}</p>
    </body>
</html>
