{% extends 'index.html' %}
{% load adminmedia %} 
	
	{% block mes%}
		<div class="navbar-inner">
			<table class="table table-striped" align="center" >
				<tr>
					<td class="span3">
						<a href= "{% url congreso.views.vista_mes year_prev month_prev  %}">&laquo;&laquo;{{mname_prev}} {{year_prev}} </a>
					</td>
					<td class="span3">
						<h1>{{ mname }} {{ year }}</h1>
					</td>
					<td class="span3">
					<a href= "{% url congreso.views.vista_mes year_next month_next   %}">{{mname_next}} {{year_next}} &raquo;&raquo;</a>
					</td>
				</tr>
			</table>
        </div>
		<div class="navbar-inner">
			<table class="table table-striped">
				<tr>
					<td class="span3">Lunes</td>
					<td class="span3">Martes</td>
					<td class="span3">Miercoles</td>
					<td class="span3">Jueves</td>
					<td class="span3">Viernes</td>
					<td class="span3">S&aacute;bado</td>
					<td class="span3">Domingo</td>
				</tr>
					{% for week in month_days %}
				<tr>
				{% for day, eventos, current in week %}
				<td>
				{% if day != 0 %}
						{{ day }}
						{% for evento in eventos %}
						<p></p><a href= "{% url congreso.views.vista_dia evento.id year month day%}">{{ evento.Nombre }}</a>
					{% endfor %}
				{% endif %}
				</td>
				{% endfor %}
				</tr>
				{% endfor %}
    </table>
    <div class="navbar-inner">
		<table class="table table-striped">
			<tr>
				<td class="span3"><a href= "{% url congreso.views.vista_lista year_prev_a%}">Eventos realizados en {{ year_prev_a }}</a></td>
				<td class="span3"><a href= "{% url congreso.views.vista_lista year%}">Eventos realizados y por realizar en {{ year }}</a></td>
				<td class="span3"><a href= "{% url congreso.views.vista_lista year_next_a%}">Eventos por realizar en {{ year_next_a }}</a></td>
				<td class="span3"><a href= "{% url congreso.views.vista_lista year_next_b%}">Eventos por realizar en {{ year_next_b }}</a></td>
			</tr>
		</table>
		<table class="table table-striped">
			<!--Botones para redes sociales-->
			<tr>
				<td class="span3">
					<!--Twitter-->
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sepi-upiicsa-calendario.herokuapp.com/{{year}}/{{month}}" data-text="Calendario de eventos para {{mname}} de {{year}}. Depto de Investigaci&oacute;n - UPIICSA" data-count="none">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</td>
				<td class="span3">
					<!--Facebook--->
					<div class="fb-like" data-href="http://sepi-upiicsa-calendario.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
				</td>
				<td class="span3">
					<g:plusone size="tall"></g:plusone>
				</td>
			</tr>
		</table>
    </div>
    </div>
    
{% endblock%}
