{% load adminmedia %} 
<html>
	<head>
		<title>Departamento de Investigaci&oacute;n</title>
		<script type="text/javascript" src="{{STATIC_UR}}js/core.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
	</head>
	<body>
		<a href= "{% url congreso.views.vista_mes year_prev month_prev  %}">&lt;&lt; Prev</a>
		<a href= "{% url congreso.views.vista_mes year_next month_next   %}">Next &gt;&gt;</a>

		<h4>{{ mname }} {{ year }}</h4>

		<div class="month">
			<table class="table table-striped">
				<tr>
					<td class="empty">Lunes</td>
					<td class="empty">Martes</td>
					<td class="empty">Miercoles</td>
					<td class="empty">Jueves</td>
					<td class="empty">Viernes</td>
					<td class="empty">S&aacute;bado</td>
					<td class="empty">Domingo</td>
				</tr>
					{% for week in month_days %}
				<tr>
				{% for day, eventos, current in week %}
				<td>
				{% if day != 0 %}
						{{ day }}
						{% for evento in eventos %}
						<a href= "{% url cal.views.day year month day %}">{{ evento.Nombre }}</a>
					{% endfor %}
				{% endif %}
				</td>
				{% endfor %}
				</tr>
				{% endfor %}
    </table>
	</body>
</html>
